body{
    background-color: rgb(207, 233, 225);
    margin: 0;
    font-family: monospace;
    color: darkgreen;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.rating img{
    width: 40px;
}

.container{
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
}

.heading{
    margin: 5px;
    font-size: 30px;
}

.ratings-container{
    display: flex;
    padding: 20px 0px;
}

.rating{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}

.rating:hover{
    background-color: rgb(123, 167, 152);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all 1s;
}

.btn{
    padding: 12px 13px;
    color: aliceblue;
    background-color: darkcyan;
    border: 0;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;

}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3); 
    transition: all 500ms;
}

.btn:active{
    transform: scale(0.96);
}